@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@400;700&display=swap');

body {
    background-color: aliceblue;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

section {
    background-color: lightslategray;
    align-items: center;
    text-align: center;
    padding: 10vh;
    margin: 5vh;
    border-radius: 1vh;

    /* parallax-related */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#scholarship {
    background-image: url("../img/pexels-rovenimagescom-949587.jpg");
}

#school {
    background-image: url("../img/pexels-dids-2714073.jpg");
}

#act-sat {
    background-image: url("../img/pexels-johannes-plenio-1103970.jpg");
}

#life-skills {
    background-image: url("../img/pexels-cottonbro-4503268.jpg");
}

#hobby {
    background-image: url("../img/pexels-yugdas-manandhar-2071168.jpg");
}

a.link-sect-box{
    text-decoration: none;
}
div.link-sect {
    background-color: rgba(240, 248, 255, 0.95);
    color: black;
    padding: 10px;
    border-radius: 1vh;
    margin: 1vh;
    transition: transform .2s;
}

div.link-sect:hover {
    transform: scale(1.05);
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: black 0px 0px 10px;
}

p {
    font-size: 2.5vh;
}

h3.rsrc-link{
    font-size: 3vh;
    color: dodgerblue;
    font-weight: bold;
}
