body {
    background-color: aliceblue;
    color: white;
}

section {
    background-color: lightslategray;
    align-items: center;
    text-align: center;
    padding: 10vh;
    margin: 5vh;
    border-radius: 1vh;

    /* parallax-related */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#scholarship {
    background-image: url("../img/pexels-rovenimagescom-949587.jpg");
}

#school {
    background-image: url("../img/pexels-johannes-plenio-1103970.jpg");
}

#act-sat {
    background-image: url("../img/pexels-johannes-plenio-1103970.jpg");
}

#life-skills {
    background-image: url("../img/pexels-johannes-plenio-1103970.jpg");
}

#hobby {
    background-image: url("../img/pexels-johannes-plenio-1103970.jpg");
}

div.link-sect {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 1vh;
    margin: 1vh;
}

h1 {
    font-style: italic;
    text-shadow: black 0px 0px 10px;
}

p {
    font-size: 2vh;
}

a.rsrc-link{
    font-size: 3vh;
    color: gold;
}

a.rsrc-link:visited{
    color: lightgoldenrodyellow;
}

a.rsrc-link:hover{
    background-color: cornflowerblue;
    padding: 0px 5px;
}